In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

/tmp/ipykernel_4283/3391910190.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [2]:
# ปรับแต่งค่าการทำงานของ Spark
from pyspark.sql import SparkSession

spark = SparkSession.\
        builder.\
        appName("KafkaSubscribe").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1000m").\
        config("spark.executor.cores", "2").\
        config("spark.cores.max", "6").\
        config("spark.jars.packages", "org.apache.spark:spark-sql-kafka-0-10_2.12:3.0.0").\
        getOrCreate()

Ivy Default Cache set to: /root/.ivy2/cache
The jars for the packages stored in: /root/.ivy2/jars
:: loading settings :: url = jar:file:/usr/local/lib/python3.9/dist-packages/pyspark/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
org.apache.spark#spark-sql-kafka-0-10_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-2ba26c7c-ba9a-4364-acf9-0390e55aff60;1.0
	confs: [default]
	found org.apache.spark#spark-sql-kafka-0-10_2.12;3.0.0 in central
	found org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.0.0 in central
	found org.apache.kafka#kafka-clients;2.4.1 in central
	found com.github.luben#zstd-jni;1.4.4-3 in central
	found org.lz4#lz4-java;1.7.1 in central
	found org.xerial.snappy#snappy-java;1.1.7.5 in central
	found org.slf4j#slf4j-api;1.7.30 in central
	found org.spark-project.spark#unused;1.0.0 in central
	found org.apache.commons#commons-pool2;2.6.2 in central
:: resolution report :: resolve 576ms :: artifacts dl 12ms
	:: modules in use:
	com.github.luben#zstd-jni;1.4.4-3 from central in [default]
	org.apache.commons#commons-pool2;2.6.2 from central in [default]
	org.apache.kafka#kafka-clients;2.4.1 from central in [default]
	org.apache.spark#spark-sql-kafka-0-10_2.12;3.0.0 from central in [default]
	org.apache.spark#spark-token-provider-kafka-0-10_2.12;3.0.0 from central in [default]
	org.lz4#lz4-java;1.7.1 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from central in [default]
	org.spark-project.spark#unused;1.0.0 from central in [default]
	org.xerial.snappy#snappy-java;1.1.7.5 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   9   |   0   |   0   |   0   ||   9   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-2ba26c7c-ba9a-4364-acf9-0390e55aff60
	confs: [default]
	0 artifacts copied, 9 already retrieved (0kB/12ms)
23/06/20 01:19:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
rawMetadata_df = spark \
  .readStream \
  .format("kafka") \
  .option("kafka.bootstrap.servers", "10.128.0.12:9092") \
  .option("subscribe", "quickstart-events") \
  .option("group.id", "Aekanun-Spark-App") \
  .load()

In [4]:
from pyspark.sql import functions as sparkf

In [5]:
rawMetadata_df.printSchema()

root
 |-- key: binary (nullable = true)
 |-- value: binary (nullable = true)
 |-- topic: string (nullable = true)
 |-- partition: integer (nullable = true)
 |-- offset: long (nullable = true)
 |-- timestamp: timestamp (nullable = true)
 |-- timestampType: integer (nullable = true)

In [6]:
# เลือกเฉพาะคอลัมน์ที่ต้องการ
onlyMetadata_df = rawMetadata_df.selectExpr("CAST(key AS STRING)", "CAST(value AS STRING)")

In [7]:
from pyspark.sql.types import *
from pyspark.sql.functions import from_json, col

# Main schema
schema = StructType([
    StructField("locationId", StringType()),
    StructField("location", StringType()),
    StructField("parameter", StringType()),
    StructField("value", StringType()),
    StructField("date", StringType()),
    StructField("unit", StringType()),
    StructField("coordinates", StringType()),
    StructField("country", StringType()),
    StructField("city", StringType()),
    StructField("isMobile", StringType()),
    StructField("isAnalysis", StringType()),
    StructField("entity", StringType()),
    StructField("sensorType", StringType())
])

# Nested 'date' and 'coordinates' schema
date_schema = StructType([
    StructField("utc", StringType()),
    StructField("local", StringType())
])

coordinates_schema = StructType([
    StructField("latitude", DoubleType()),
    StructField("longitude", DoubleType())
])

# Parse the JSON string column and convert it to a struct.
parsedData_df = onlyMetadata_df.withColumn("data", from_json("value", schema))

In [8]:
parsedData_df.printSchema()

root
 |-- key: string (nullable = true)
 |-- value: string (nullable = true)
 |-- data: struct (nullable = true)
 |    |-- locationId: string (nullable = true)
 |    |-- location: string (nullable = true)
 |    |-- parameter: string (nullable = true)
 |    |-- value: string (nullable = true)
 |    |-- date: string (nullable = true)
 |    |-- unit: string (nullable = true)
 |    |-- coordinates: string (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- isMobile: string (nullable = true)
 |    |-- isAnalysis: string (nullable = true)
 |    |-- entity: string (nullable = true)
 |    |-- sensorType: string (nullable = true)

In [9]:
# Select only the nested fields
unNested_df = parsedData_df.select("key", "data.*")

In [10]:
unNested_df.printSchema()

root
 |-- key: string (nullable = true)
 |-- locationId: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: string (nullable = true)
 |-- date: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- isMobile: string (nullable = true)
 |-- isAnalysis: string (nullable = true)
 |-- entity: string (nullable = true)
 |-- sensorType: string (nullable = true)

In [11]:
# Parse the JSON string column and convert it to a struct.
unNested_df.withColumn("data", from_json("value", schema))\
.withColumn("date", from_json("date", date_schema))\
.withColumn("coordinates", from_json("coordinates", coordinates_schema))\
.printSchema()

root
 |-- key: string (nullable = true)
 |-- locationId: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: string (nullable = true)
 |-- date: struct (nullable = true)
 |    |-- utc: string (nullable = true)
 |    |-- local: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- coordinates: struct (nullable = true)
 |    |-- latitude: double (nullable = true)
 |    |-- longitude: double (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- isMobile: string (nullable = true)
 |-- isAnalysis: string (nullable = true)
 |-- entity: string (nullable = true)
 |-- sensorType: string (nullable = true)
 |-- data: struct (nullable = true)
 |    |-- locationId: string (nullable = true)
 |    |-- location: string (nullable = true)
 |    |-- parameter: string (nullable = true)
 |    |-- value: string (nullable = true)
 |    |-- date: string (nullable = true)
 |    |-- unit: string (nullable = true)
 |    |-- coordinates: string (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- isMobile: string (nullable = true)
 |    |-- isAnalysis: string (nullable = true)
 |    |-- entity: string (nullable = true)
 |    |-- sensorType: string (nullable = true)

In [12]:
extractedDateLatLong_df = unNested_df.withColumn("data", from_json("value", schema))\
.withColumn("date", from_json("date", date_schema))\
.withColumn("coordinates", from_json("coordinates", coordinates_schema))\
.select('key',
 'locationId',
 'location',
 'parameter',
 'value',
 'date.*',
 'unit',
 'coordinates.*',
 'country',
 'city',
 'isMobile',
 'isAnalysis',
 'entity',
 'sensorType')

In [13]:
extractedDateLatLong_df.printSchema()

root
 |-- key: string (nullable = true)
 |-- locationId: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: string (nullable = true)
 |-- utc: string (nullable = true)
 |-- local: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- isMobile: string (nullable = true)
 |-- isAnalysis: string (nullable = true)
 |-- entity: string (nullable = true)
 |-- sensorType: string (nullable = true)

In [14]:
final_df = extractedDateLatLong_df\
.withColumn('sourceUnixSTP',sparkf.to_timestamp(sparkf.col('utc'), "yyyy-MM-dd'T'HH:mm:ssXXX"))

In [15]:
final_df.columns

['key',
 'locationId',
 'location',
 'parameter',
 'value',
 'utc',
 'local',
 'unit',
 'latitude',
 'longitude',
 'country',
 'city',
 'isMobile',
 'isAnalysis',
 'entity',
 'sensorType',
 'sourceUnixSTP']

In [16]:
final_df.printSchema()

root
 |-- key: string (nullable = true)
 |-- locationId: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: string (nullable = true)
 |-- utc: string (nullable = true)
 |-- local: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- isMobile: string (nullable = true)
 |-- isAnalysis: string (nullable = true)
 |-- entity: string (nullable = true)
 |-- sensorType: string (nullable = true)
 |-- sourceUnixSTP: timestamp (nullable = true)

In [17]:
#agg_df = final_df.groupBy('value').agg(sparkf.max(sparkf.col('value')))

In [18]:
from pyspark.sql import functions as F

In [ ]:
from pyspark.sql.functions import window

windowedCounts = final_df.groupBy(
    window(final_df.sourceUnixSTP, "360 minutes", "360 minutes"),
    final_df.value
).count()

orderwindowedCounts = windowedCounts.orderBy('window','value')

query = orderwindowedCounts.writeStream.outputMode("complete").format("console").start()
query.awaitTermination()

23/06/20 01:19:47 WARN StreamingQueryManager: Temporary checkpoint location created which is deleted normally when the query didn't fail: /tmp/temporary-7d766ddc-f6f5-4610-8a87-ecc7500bdfbb. If it's required to delete it under any circumstances, please set spark.sql.streaming.forceDeleteTempCheckpointLocation to true. Important to know deleting temp checkpoint folder is best effort.

-------------------------------------------
Batch: 0
-------------------------------------------
+------+-----+-----+
|window|value|count|
+------+-----+-----+
+------+-----+-----+

-------------------------------------------
Batch: 1
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    1|
+--------------------+-----+-----+

-------------------------------------------
Batch: 2
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 3
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 4
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 5
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 6
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 7
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 8
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 9
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 10
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 11
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 12
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 13
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 14
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 15
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 16
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 17
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

-------------------------------------------
Batch: 18
-------------------------------------------
+--------------------+-----+-----+
|              window|value|count|
+--------------------+-----+-----+
|[2022-12-31 18:00...| 36.0|    6|
|[2023-01-01 00:00...| 30.0|    2|
|[2023-01-01 00:00...| 31.0|    2|
|[2023-01-01 00:00...| 33.0|    1|
|[2023-01-01 00:00...| 34.0|    1|
|[2023-01-01 06:00...| 29.0|    6|
|[2023-01-01 12:00...| 29.0|    2|
|[2023-01-01 12:00...| 30.0|    4|
|[2023-01-01 18:00...| 31.0|    4|
|[2023-01-01 18:00...| 32.0|    2|
|[2023-01-02 00:00...| 33.0|    2|
|[2023-01-02 00:00...| 34.0|    1|
|[2023-01-02 00:00...| 35.0|    2|
|[2023-01-02 00:00...| 36.0|    1|
|[2023-01-02 06:00...| 36.0|    1|
|[2023-01-02 06:00...| 37.0|    5|
|[2023-01-02 12:00...| 37.0|    3|
|[2023-01-02 12:00...| 38.0|    3|
|[2023-01-02 18:00...| 38.0|    5|
|[2023-01-03 06:00...| 36.0|    1|
+--------------------+-----+-----+
only showing top 20 rows

In [ ]:
query.stop()

In [ ]:
query.status

In [ ]:
query.recentProgress