In [1]:
# นำเข้า pandas สำหรับการจัดการข้อมูลแบบ DataFrame

import pandas as pd

# ตั้งค่าการแสดงผลของ pandas ให้แสดงผลครบทุก row และ column ไม่มีการย่อหน้า

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
# นำเข้า SparkSession สำหรับการใช้งาน Spark

from pyspark.sql import SparkSession

In [3]:
# ตั้งค่าการทำงานของ Spark และสร้าง SparkSession

spark = SparkSession.\
        builder.\
        appName("Static Dataframe").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "1000m").\
        config("spark.executor.cores", "2").\
        config("spark.cores.max", "6").\
        getOrCreate()

23/06/21 11:55:23 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
# อ่านข้อมูลจากไฟล์ CSV และสร้าง DataFrame ด้วย Spark
# โปรดระวัง ท่านจะต้อง manual download ไฟล์ 2023-01-01-2023-04-30.csv มา manual upload เข้า jupyter
# link สำหรับไฟล์ฯ คือ 
# https://github.com/aekanun2020/2023-IoTAnalytics-and-PowerBI/blob/main/OpenAQ_Data/2023-01-01-2023-04-30.csv

raw_df = spark.read.option('header','true').csv('./2023-01-01-2023-04-30.csv')

In [5]:
# นับจำนวนแถวของ DataFrame

raw_df.count()

930

In [6]:
# ใช้ command line สำหรับนับจำนวนบรรทัดของไฟล์ CSV

! wc -l 2023-01-01-2023-04-30.csv

931 2023-01-01-2023-04-30.csv

In [7]:
# แสดง schema ของ DataFrame
# ซึ่งเราจะเห็นว่า มี col. ที่ data type ไม่สอดคล้องกับความหมายทางธุรกิจ (Type Mismatch)

raw_df.printSchema()

root
 |-- locationId: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: string (nullable = true)
 |-- date: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- isMobile: string (nullable = true)
 |-- isAnalysis: string (nullable = true)
 |-- entity: string (nullable = true)
 |-- sensorType: string (nullable = true)

In [8]:
# ดูแถวแรกของ DataFrame
# ซึ่งเราจะเห็นว่า ข้อมูลใน col. date มีโครงสร้างแบบ JSON


raw_df.take(1)

[Row(locationId='225577', location='Bank of Ayuthaya Head Office Yan Nawa, Bangkok', parameter='pm25', value='36.0', date="{'utc': '2022-12-31T18:00:00+00:00', 'local': '2023-01-01T01:00:00+07:00'}", unit='µg/m³', coordinates="{'latitude': 13.679226, 'longitude': 100.54687}", country='NA', city=None, isMobile='False', isAnalysis=None, entity='Governmental Organization', sensorType='reference grade')]

In [9]:
# นำเข้าฟังก์ชันที่จำเป็นสำหรับการแปลงข้อมูล

from pyspark.sql.functions import get_json_object
from pyspark.sql.types import TimestampType, FloatType
from pyspark.sql import functions as sparkf

In [10]:
# แยกสตริงออกมาเป็นคีย์และค่าของ dictionary และแปลงค่าที่ได้ให้เป็น timestamp รวมถึง แปลงค่าฝุ่น (value) เป็น float

final_df = raw_df.withColumn("date_utc", get_json_object(sparkf.col('date'), '$.utc'))\
.withColumn("date_local", get_json_object(sparkf.col('date'), '$.local'))\
.withColumn("date_utc", sparkf.col('date_utc').cast(TimestampType()))\
.withColumn("date_local", sparkf.col('date_local').cast(TimestampType()))\
.withColumn("value", sparkf.col('value').cast(FloatType()))

In [11]:
# แสดงข้อมูล column date_utc และ date_local
# ซึ่งทั้ง 2 col. นี้ควรจะตรงกัน เนื่องจากทั้ง 2 col. มี type เป็น timestamp

final_df.select("date_utc", "date_local").show()

+-------------------+-------------------+
|           date_utc|         date_local|
+-------------------+-------------------+
|2022-12-31 18:00:00|2022-12-31 18:00:00|
|2022-12-31 19:00:00|2022-12-31 19:00:00|
|2022-12-31 20:00:00|2022-12-31 20:00:00|
|2022-12-31 21:00:00|2022-12-31 21:00:00|
|2022-12-31 22:00:00|2022-12-31 22:00:00|
|2022-12-31 23:00:00|2022-12-31 23:00:00|
|2023-01-01 00:00:00|2023-01-01 00:00:00|
|2023-01-01 01:00:00|2023-01-01 01:00:00|
|2023-01-01 02:00:00|2023-01-01 02:00:00|
|2023-01-01 03:00:00|2023-01-01 03:00:00|
|2023-01-01 04:00:00|2023-01-01 04:00:00|
|2023-01-01 05:00:00|2023-01-01 05:00:00|
|2023-01-01 06:00:00|2023-01-01 06:00:00|
|2023-01-01 07:00:00|2023-01-01 07:00:00|
|2023-01-01 08:00:00|2023-01-01 08:00:00|
|2023-01-01 09:00:00|2023-01-01 09:00:00|
|2023-01-01 10:00:00|2023-01-01 10:00:00|
|2023-01-01 11:00:00|2023-01-01 11:00:00|
|2023-01-01 12:00:00|2023-01-01 12:00:00|
|2023-01-01 13:00:00|2023-01-01 13:00:00|
+-------------------+-------------------+
only showing top 20 rows

In [12]:
# แสดง schema ของ DataFrame ที่ถูกแปลงค่าแล้ว

final_df.printSchema()

root
 |-- locationId: string (nullable = true)
 |-- location: string (nullable = true)
 |-- parameter: string (nullable = true)
 |-- value: float (nullable = true)
 |-- date: string (nullable = true)
 |-- unit: string (nullable = true)
 |-- coordinates: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- isMobile: string (nullable = true)
 |-- isAnalysis: string (nullable = true)
 |-- entity: string (nullable = true)
 |-- sensorType: string (nullable = true)
 |-- date_utc: timestamp (nullable = true)
 |-- date_local: timestamp (nullable = true)

In [13]:
# ลงทะเบียน DataFrame เป็น TempTable เพื่อให้สามารถทำความสะอาดข้อมูลได้

final_df.registerTempTable('pm2022')

In [14]:
# สร้างสถิติเบื้องต้นของ DataFrame และแปลงเป็น pandas DataFrame ก่อนทำ transpose สำหรับแสดงผลที่ดีขึ้น

final_df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
locationId,930,225577.0,0.0,225577,225577
location,930,None,None,"Bank of Ayuthaya Head Office Yan Nawa, Bangkok","Bank of Ayuthaya Head Office Yan Nawa, Bangkok"
parameter,930,None,None,pm25,pm25
value,930,43.94516129032258,15.125602701326343,14.0,99.0
date,930,None,None,"{'utc': '2022-12-31T18:00:00+00:00', 'local': '2023-01-01T01:00:00+07:00'}","{'utc': '2023-04-30T16:00:00+00:00', 'local': '2023-04-30T23:00:00+07:00'}"
unit,930,None,None,µg/m³,µg/m³
coordinates,930,None,None,"{'latitude': 13.679226, 'longitude': 100.54687}","{'latitude': 13.679226, 'longitude': 100.54687}"
country,930,None,None,NA,NA
city,0,None,None,None,None
isMobile,930,None,None,False,False
isAnalysis,0,None,None,None,None
entity,930,None,None,Governmental Organization,Governmental Organization
sensorType,930,None,None,reference grade,reference grade

In [15]:
# ใช้ Spark SQL เพื่อสร้าง DataFrame ใหม่ที่ group by ตาม value และ window ของ date_utc ที่จัดเป็นช่วง 360 นาที และเรียงลำดับตาม window และ value

result_df = spark.sql('SELECT value, WINDOW(date_utc, "360 minutes"), COUNT(*) \
FROM pm2022 GROUP BY value, WINDOW(date_utc, "360 minutes") ORDER BY window, value')

In [16]:
# แสดง schema ของ DataFrame ที่สร้างใหม่

result_df.printSchema()

root
 |-- value: float (nullable = true)
 |-- window: struct (nullable = false)
 |    |-- start: timestamp (nullable = true)
 |    |-- end: timestamp (nullable = true)
 |-- count(1): long (nullable = false)

In [17]:
# แปลง DataFrame เป็น pandas DataFrame และแสดงผล

result_df.toPandas()

     value                                      window  count(1)
0     36.0  (2022-12-31 18:00:00, 2023-01-01 00:00:00)         6
1     30.0  (2023-01-01 00:00:00, 2023-01-01 06:00:00)         2
2     31.0  (2023-01-01 00:00:00, 2023-01-01 06:00:00)         2
3     33.0  (2023-01-01 00:00:00, 2023-01-01 06:00:00)         1
4     34.0  (2023-01-01 00:00:00, 2023-01-01 06:00:00)         1
5     29.0  (2023-01-01 06:00:00, 2023-01-01 12:00:00)         6
6     29.0  (2023-01-01 12:00:00, 2023-01-01 18:00:00)         2
7     30.0  (2023-01-01 12:00:00, 2023-01-01 18:00:00)         4
8     31.0  (2023-01-01 18:00:00, 2023-01-02 00:00:00)         4
9     32.0  (2023-01-01 18:00:00, 2023-01-02 00:00:00)         2
10    33.0  (2023-01-02 00:00:00, 2023-01-02 06:00:00)         2
11    34.0  (2023-01-02 00:00:00, 2023-01-02 06:00:00)         1
12    35.0  (2023-01-02 00:00:00, 2023-01-02 06:00:00)         2
13    36.0  (2023-01-02 00:00:00, 2023-01-02 06:00:00)         1
14    36.0  (2023-01-02 06:00:00, 2023-01-02 12:00:00)         1
15    37.0  (2023-01-02 06:00:00, 2023-01-02 12:00:00)         5
16    37.0  (2023-01-02 12:00:00, 2023-01-02 18:00:00)         3
17    38.0  (2023-01-02 12:00:00, 2023-01-02 18:00:00)         3
18    38.0  (2023-01-02 18:00:00, 2023-01-03 00:00:00)         5
19    36.0  (2023-01-03 06:00:00, 2023-01-03 12:00:00)         1
20    37.0  (2023-01-03 06:00:00, 2023-01-03 12:00:00)         2
21    36.0  (2023-01-03 12:00:00, 2023-01-03 18:00:00)         2
22    37.0  (2023-01-03 12:00:00, 2023-01-03 18:00:00)         4
23    32.0  (2023-01-03 18:00:00, 2023-01-04 00:00:00)         1
24    33.0  (2023-01-03 18:00:00, 2023-01-04 00:00:00)         2
25    34.0  (2023-01-03 18:00:00, 2023-01-04 00:00:00)         2
26    35.0  (2023-01-03 18:00:00, 2023-01-04 00:00:00)         1
27    32.0  (2023-01-04 00:00:00, 2023-01-04 06:00:00)         6
28    30.0  (2023-01-04 06:00:00, 2023-01-04 12:00:00)         1
29    31.0  (2023-01-04 06:00:00, 2023-01-04 12:00:00)         4
30    32.0  (2023-01-04 06:00:00, 2023-01-04 12:00:00)         1
31    28.0  (2023-01-04 12:00:00, 2023-01-04 18:00:00)         2
32    29.0  (2023-01-04 12:00:00, 2023-01-04 18:00:00)         3
33    30.0  (2023-01-04 12:00:00, 2023-01-04 18:00:00)         1
34    29.0  (2023-01-04 18:00:00, 2023-01-05 00:00:00)         6
35    29.0  (2023-01-05 00:00:00, 2023-01-05 06:00:00)         4
36    30.0  (2023-01-05 00:00:00, 2023-01-05 06:00:00)         2
37    29.0  (2023-01-05 06:00:00, 2023-01-05 12:00:00)         2
38    30.0  (2023-01-05 06:00:00, 2023-01-05 12:00:00)         4
39    30.0  (2023-01-05 12:00:00, 2023-01-05 18:00:00)         4
40    31.0  (2023-01-05 12:00:00, 2023-01-05 18:00:00)         1
41    32.0  (2023-01-05 12:00:00, 2023-01-05 18:00:00)         1
42    32.0  (2023-01-05 18:00:00, 2023-01-06 00:00:00)         1
43    33.0  (2023-01-05 18:00:00, 2023-01-06 00:00:00)         2
44    34.0  (2023-01-05 18:00:00, 2023-01-06 00:00:00)         1
45    35.0  (2023-01-05 18:00:00, 2023-01-06 00:00:00)         2
46    32.0  (2023-01-06 00:00:00, 2023-01-06 06:00:00)         2
47    33.0  (2023-01-06 00:00:00, 2023-01-06 06:00:00)         1
48    34.0  (2023-01-06 00:00:00, 2023-01-06 06:00:00)         2
49    35.0  (2023-01-06 00:00:00, 2023-01-06 06:00:00)         1
50    31.0  (2023-01-06 06:00:00, 2023-01-06 12:00:00)         2
51    32.0  (2023-01-06 06:00:00, 2023-01-06 12:00:00)         4
52    32.0  (2023-01-06 12:00:00, 2023-01-06 18:00:00)         6
53    29.0  (2023-01-06 18:00:00, 2023-01-07 00:00:00)         1
54    30.0  (2023-01-06 18:00:00, 2023-01-07 00:00:00)         1
55    31.0  (2023-01-06 18:00:00, 2023-01-07 00:00:00)         3
56    32.0  (2023-01-06 18:00:00, 2023-01-07 00:00:00)         1
57    29.0  (2023-01-07 00:00:00, 2023-01-07 06:00:00)         6
58    30.0  (2023-01-07 06:00:00, 2023-01-07 12:00:00)         3
59    31.0  (2023-01-07 06:00:00, 2023-01-07 12:00:00)         3
60    32.0  (2023-01-07 12:00:00, 2023-01-07 18:00:00)         2
61    33.0  (2023-01-07 12:00:00, 2023-01-07 18:00:00)         1
62    34.0  (2023-01-07 12:00:00, 2023-01-07 18:00:00)         3
63    34.0  (2023-01-07 18:00:00, 2023-01-08 00:00:00)         1
64    36.0  (2023-01-07 18:00:00, 2023-01-08 00:00:00)         2
65    37.0  (2023-01-07 18:00:00, 2023-01-08 00:00:00)         1
66    39.0  (2023-01-07 18:00:00, 2023-01-08 00:00:00)         1
67    41.0  (2023-01-07 18:00:00, 2023-01-08 00:00:00)         1
68    39.0  (2023-01-08 00:00:00, 2023-01-08 06:00:00)         1
69    40.0  (2023-01-08 00:00:00, 2023-01-08 06:00:00)         1
70    41.0  (2023-01-08 00:00:00, 2023-01-08 06:00:00)         1
71    42.0  (2023-01-08 00:00:00, 2023-01-08 06:00:00)         1
72    43.0  (2023-01-08 00:00:00, 2023-01-08 06:00:00)         1
73    44.0  (2023-01-08 00:00:00, 2023-01-08 06:00:00)         1
74    45.0  (2023-01-08 06:00:00, 2023-01-08 12:00:00)         1
75    46.0  (2023-01-08 06:00:00, 2023-01-08 12:00:00)         2
76    47.0  (2023-01-08 06:00:00, 2023-01-08 12:00:00)         3
77    47.0  (2023-01-08 12:00:00, 2023-01-08 18:00:00)         1
78    48.0  (2023-01-08 12:00:00, 2023-01-08 18:00:00)         5
79    48.0  (2023-01-08 18:00:00, 2023-01-09 00:00:00)         2
80    49.0  (2023-01-08 18:00:00, 2023-01-09 00:00:00)         4
81    50.0  (2023-01-09 00:00:00, 2023-01-09 06:00:00)         4
82    51.0  (2023-01-09 00:00:00, 2023-01-09 06:00:00)         2
83    51.0  (2023-01-09 06:00:00, 2023-01-09 12:00:00)         6
84    52.0  (2023-01-09 12:00:00, 2023-01-09 18:00:00)         3
85    53.0  (2023-01-09 12:00:00, 2023-01-09 18:00:00)         3
86    52.0  (2023-01-09 18:00:00, 2023-01-10 00:00:00)         1
87    53.0  (2023-01-09 18:00:00, 2023-01-10 00:00:00)         5
88    53.0  (2023-01-10 00:00:00, 2023-01-10 06:00:00)         4
89    54.0  (2023-01-10 00:00:00, 2023-01-10 06:00:00)         2
90    50.0  (2023-01-10 06:00:00, 2023-01-10 12:00:00)         1
91    51.0  (2023-01-10 06:00:00, 2023-01-10 12:00:00)         2
92    52.0  (2023-01-10 06:00:00, 2023-01-10 12:00:00)         2
93    53.0  (2023-01-10 06:00:00, 2023-01-10 12:00:00)         1
94    45.0  (2023-01-10 12:00:00, 2023-01-10 18:00:00)         1
95    46.0  (2023-01-10 12:00:00, 2023-01-10 18:00:00)         2
96    48.0  (2023-01-10 12:00:00, 2023-01-10 18:00:00)         1
97    49.0  (2023-01-10 12:00:00, 2023-01-10 18:00:00)         2
98    43.0  (2023-01-10 18:00:00, 2023-01-11 00:00:00)         1
99    44.0  (2023-01-10 18:00:00, 2023-01-11 00:00:00)         5
100   34.0  (2023-01-11 00:00:00, 2023-01-11 06:00:00)         1
101   35.0  (2023-01-11 00:00:00, 2023-01-11 06:00:00)         1
102   37.0  (2023-01-11 00:00:00, 2023-01-11 06:00:00)         1
103   39.0  (2023-01-11 00:00:00, 2023-01-11 06:00:00)         1
104   40.0  (2023-01-11 00:00:00, 2023-01-11 06:00:00)         1
105   42.0  (2023-01-11 00:00:00, 2023-01-11 06:00:00)         1
106   33.0  (2023-01-11 06:00:00, 2023-01-11 12:00:00)         4
107   34.0  (2023-01-11 06:00:00, 2023-01-11 12:00:00)         2
108   33.0  (2023-01-11 12:00:00, 2023-01-11 18:00:00)         6
109   34.0  (2023-01-11 18:00:00, 2023-01-12 00:00:00)         1
110   33.0  (2023-01-16 18:00:00, 2023-01-17 00:00:00)         1
111   33.0  (2023-01-17 00:00:00, 2023-01-17 06:00:00)         3
112   34.0  (2023-01-17 00:00:00, 2023-01-17 06:00:00)         1
113   35.0  (2023-01-17 00:00:00, 2023-01-17 06:00:00)         2
114   36.0  (2023-01-17 06:00:00, 2023-01-17 12:00:00)         1
115   37.0  (2023-01-17 06:00:00, 2023-01-17 12:00:00)         1
116   38.0  (2023-01-17 06:00:00, 2023-01-17 12:00:00)         2
117   39.0  (2023-01-17 06:00:00, 2023-01-17 12:00:00)         2
118   40.0  (2023-01-17 12:00:00, 2023-01-17 18:00:00)         2
119   41.0  (2023-01-17 12:00:00, 2023-01-17 18:00:00)         2
120   42.0  (2023-01-17 12:00:00, 2023-01-17 18:00:00)         1
121   43.0  (2023-01-17 12:00:00, 2023-01-17 18:00:00)         1
122   44.0  (2023-01-17 18:00:00, 2023-01-18 00:00:00)         1
123   45.0  (2023-01-17 18:00:00, 2023-01-18 00:00:00)         1
124   47.0  (2023-01-17 18:00:00, 2023-01-18 00:00:00)         1
125   48.0  (2023-01-17 18:00:00, 2023-01-18 00:00:00)         2
126   49.0  (2023-01-17 18:00:00, 2023-01-18 00:00:00)         1
127   46.0  (2023-01-18 00:00:00, 2023-01-18 06:00:00)         1
128   47.0  (2023-01-18 00:00:00, 2023-01-18 06:00:00)         1
129   48.0  (2023-01-18 00:00:00, 2023-01-18 06:00:00)         1
130   49.0  (2023-01-18 00:00:00, 2023-01-18 06:00:00)         3
131   43.0  (2023-01-18 06:00:00, 2023-01-18 12:00:00)         2
132   44.0  (2023-01-18 06:00:00, 2023-01-18 12:00:00)         2
133   45.0  (2023-01-18 06:00:00, 2023-01-18 12:00:00)         2
134   40.0  (2023-01-18 12:00:00, 2023-01-18 18:00:00)         1
135   41.0  (2023-01-18 12:00:00, 2023-01-18 18:00:00)         1
136   42.0  (2023-01-18 12:00:00, 2023-01-18 18:00:00)         3
137   43.0  (2023-01-18 12:00:00, 2023-01-18 18:00:00)         1
138   35.0  (2023-01-18 18:00:00, 2023-01-19 00:00:00)         2
139   36.0  (2023-01-18 18:00:00, 2023-01-19 00:00:00)         1
140   37.0  (2023-01-18 18:00:00, 2023-01-19 00:00:00)         1
141   38.0  (2023-01-18 18:00:00, 2023-01-19 00:00:00)         1
142   39.0  (2023-01-18 18:00:00, 2023-01-19 00:00:00)         1
143   34.0  (2023-01-19 00:00:00, 2023-01-19 06:00:00)         5
144   35.0  (2023-01-19 06:00:00, 2023-01-19 12:00:00)         6
145   35.0  (2023-01-19 12:00:00, 2023-01-19 18:00:00)         3
146   36.0  (2023-01-19 12:00:00, 2023-01-19 18:00:00)         3
147   35.0  (2023-01-19 18:00:00, 2023-01-20 00:00:00)         4
148   36.0  (2023-01-19 18:00:00, 2023-01-20 00:00:00)         1
149   37.0  (2023-01-20 00:00:00, 2023-01-20 06:00:00)         2
150   38.0  (2023-01-20 00:00:00, 2023-01-20 06:00:00)         2
151   39.0  (2023-01-20 00:00:00, 2023-01-20 06:00:00)         2
152   39.0  (2023-01-20 06:00:00, 2023-01-20 12:00:00)         6
153   39.0  (2023-01-20 12:00:00, 2023-01-20 18:00:00)         4
154   40.0  (2023-01-20 12:00:00, 2023-01-20 18:00:00)         2
155   39.0  (2023-01-20 18:00:00, 2023-01-21 00:00:00)         1
156   40.0  (2023-01-20 18:00:00, 2023-01-21 00:00:00)         2
157   41.0  (2023-01-20 18:00:00, 2023-01-21 00:00:00)         3
158   39.0  (2023-01-21 00:00:00, 2023-01-21 06:00:00)         3
159   40.0  (2023-01-21 00:00:00, 2023-01-21 06:00:00)         2
160   41.0  (2023-01-21 00:00:00, 2023-01-21 06:00:00)         1
161   39.0  (2023-01-21 06:00:00, 2023-01-21 12:00:00)         6
162   39.0  (2023-01-21 12:00:00, 2023-01-21 18:00:00)         2
163   40.0  (2023-01-21 12:00:00, 2023-01-21 18:00:00)         2
164   41.0  (2023-01-21 12:00:00, 2023-01-21 18:00:00)         1
165   42.0  (2023-01-21 12:00:00, 2023-01-21 18:00:00)         1
166   43.0  (2023-01-21 18:00:00, 2023-01-22 00:00:00)         4
167   44.0  (2023-01-21 18:00:00, 2023-01-22 00:00:00)         2
168   44.0  (2023-01-22 00:00:00, 2023-01-22 06:00:00)         1
169   53.0  (2023-01-23 00:00:00, 2023-01-23 06:00:00)         1
170   55.0  (2023-01-23 00:00:00, 2023-01-23 06:00:00)         1
171   57.0  (2023-01-23 00:00:00, 2023-01-23 06:00:00)         1
172   58.0  (2023-01-23 00:00:00, 2023-01-23 06:00:00)         1
173   59.0  (2023-01-23 00:00:00, 2023-01-23 06:00:00)         1
174   60.0  (2023-01-23 06:00:00, 2023-01-23 12:00:00)         5
175   61.0  (2023-01-23 12:00:00, 2023-01-23 18:00:00)         3
176   62.0  (2023-01-23 12:00:00, 2023-01-23 18:00:00)         1
177   61.0  (2023-01-23 18:00:00, 2023-01-24 00:00:00)         1
178   62.0  (2023-01-23 18:00:00, 2023-01-24 00:00:00)         2
179   63.0  (2023-01-23 18:00:00, 2023-01-24 00:00:00)         3
180   62.0  (2023-01-24 00:00:00, 2023-01-24 06:00:00)         3
181   63.0  (2023-01-24 00:00:00, 2023-01-24 06:00:00)         3
182   61.0  (2023-01-24 06:00:00, 2023-01-24 12:00:00)         2
183   62.0  (2023-01-24 06:00:00, 2023-01-24 12:00:00)         3
184   56.0  (2023-01-24 12:00:00, 2023-01-24 18:00:00)         1
185   57.0  (2023-01-24 12:00:00, 2023-01-24 18:00:00)         1
186   58.0  (2023-01-24 12:00:00, 2023-01-24 18:00:00)         1
187   59.0  (2023-01-24 12:00:00, 2023-01-24 18:00:00)         1
188   60.0  (2023-01-24 12:00:00, 2023-01-24 18:00:00)         1
189   46.0  (2023-01-24 18:00:00, 2023-01-25 00:00:00)         1
190   48.0  (2023-01-24 18:00:00, 2023-01-25 00:00:00)         1
191   32.0  (2023-01-25 00:00:00, 2023-01-25 06:00:00)         1
192   33.0  (2023-01-25 00:00:00, 2023-01-25 06:00:00)         1
193   35.0  (2023-01-25 00:00:00, 2023-01-25 06:00:00)         1
194   38.0  (2023-01-25 00:00:00, 2023-01-25 06:00:00)         1
195   41.0  (2023-01-25 00:00:00, 2023-01-25 06:00:00)         1
196   43.0  (2023-01-25 00:00:00, 2023-01-25 06:00:00)         1
197   30.0  (2023-01-25 06:00:00, 2023-01-25 12:00:00)         5
198   31.0  (2023-01-25 06:00:00, 2023-01-25 12:00:00)         1
199   31.0  (2023-01-25 12:00:00, 2023-01-25 18:00:00)         1
200   32.0  (2023-01-25 12:00:00, 2023-01-25 18:00:00)         2
201   33.0  (2023-01-25 12:00:00, 2023-01-25 18:00:00)         1
202   34.0  (2023-01-25 12:00:00, 2023-01-25 18:00:00)         1
203   35.0  (2023-01-25 12:00:00, 2023-01-25 18:00:00)         1
204   36.0  (2023-01-25 18:00:00, 2023-01-26 00:00:00)         1
205   37.0  (2023-01-25 18:00:00, 2023-01-26 00:00:00)         3
206   38.0  (2023-01-25 18:00:00, 2023-01-26 00:00:00)         1
207   39.0  (2023-01-25 18:00:00, 2023-01-26 00:00:00)         1
208   41.0  (2023-01-26 00:00:00, 2023-01-26 06:00:00)         1
209   44.0  (2023-01-26 00:00:00, 2023-01-26 06:00:00)         1
210   48.0  (2023-01-26 00:00:00, 2023-01-26 06:00:00)         1
211   51.0  (2023-01-26 00:00:00, 2023-01-26 06:00:00)         1
212   53.0  (2023-01-26 00:00:00, 2023-01-26 06:00:00)         1
213   54.0  (2023-01-26 00:00:00, 2023-01-26 06:00:00)         1
214   54.0  (2023-01-26 06:00:00, 2023-01-26 12:00:00)         1
215   56.0  (2023-01-26 06:00:00, 2023-01-26 12:00:00)         4
216   56.0  (2023-01-26 12:00:00, 2023-01-26 18:00:00)         1
217   57.0  (2023-01-26 12:00:00, 2023-01-26 18:00:00)         1
218   58.0  (2023-01-26 12:00:00, 2023-01-26 18:00:00)         4
219   58.0  (2023-01-26 18:00:00, 2023-01-27 00:00:00)         2
220   60.0  (2023-01-26 18:00:00, 2023-01-27 00:00:00)         1
221   62.0  (2023-01-26 18:00:00, 2023-01-27 00:00:00)         1
222   64.0  (2023-01-26 18:00:00, 2023-01-27 00:00:00)         1
223   66.0  (2023-01-26 18:00:00, 2023-01-27 00:00:00)         1
224   65.0  (2023-01-27 00:00:00, 2023-01-27 06:00:00)         1
225   66.0  (2023-01-27 00:00:00, 2023-01-27 06:00:00)         3
226   67.0  (2023-01-27 00:00:00, 2023-01-27 06:00:00)         1
227   67.0  (2023-01-27 06:00:00, 2023-01-27 12:00:00)         1
228   68.0  (2023-01-27 06:00:00, 2023-01-27 12:00:00)         2
229   69.0  (2023-01-27 06:00:00, 2023-01-27 12:00:00)         2
230   68.0  (2023-01-27 12:00:00, 2023-01-27 18:00:00)         4
231   69.0  (2023-01-27 12:00:00, 2023-01-27 18:00:00)         2
232   65.0  (2023-01-27 18:00:00, 2023-01-28 00:00:00)         1
233   68.0  (2023-01-27 18:00:00, 2023-01-28 00:00:00)         3
234   47.0  (2023-01-28 00:00:00, 2023-01-28 06:00:00)         1
235   48.0  (2023-01-28 00:00:00, 2023-01-28 06:00:00)         1
236   51.0  (2023-01-28 00:00:00, 2023-01-28 06:00:00)         1
237   54.0  (2023-01-28 00:00:00, 2023-01-28 06:00:00)         1
238   58.0  (2023-01-28 00:00:00, 2023-01-28 06:00:00)         1
239   62.0  (2023-01-28 00:00:00, 2023-01-28 06:00:00)         1
240   42.0  (2023-01-28 06:00:00, 2023-01-28 12:00:00)         1
241   43.0  (2023-01-28 06:00:00, 2023-01-28 12:00:00)         2
242   44.0  (2023-01-28 06:00:00, 2023-01-28 12:00:00)         1
243   45.0  (2023-01-28 06:00:00, 2023-01-28 12:00:00)         1
244   46.0  (2023-01-28 06:00:00, 2023-01-28 12:00:00)         1
245   38.0  (2023-01-28 12:00:00, 2023-01-28 18:00:00)         1
246   39.0  (2023-01-28 12:00:00, 2023-01-28 18:00:00)         2
247   40.0  (2023-01-28 12:00:00, 2023-01-28 18:00:00)         1
248   41.0  (2023-01-28 12:00:00, 2023-01-28 18:00:00)         2
249   34.0  (2023-01-28 18:00:00, 2023-01-29 00:00:00)         3
250   35.0  (2023-01-28 18:00:00, 2023-01-29 00:00:00)         1
251   36.0  (2023-01-28 18:00:00, 2023-01-29 00:00:00)         1
252   37.0  (2023-01-28 18:00:00, 2023-01-29 00:00:00)         1
253   34.0  (2023-01-29 00:00:00, 2023-01-29 06:00:00)         1
254   35.0  (2023-01-29 00:00:00, 2023-01-29 06:00:00)         1
255   36.0  (2023-01-29 00:00:00, 2023-01-29 06:00:00)         4
256   36.0  (2023-01-29 06:00:00, 2023-01-29 12:00:00)         1
257   37.0  (2023-01-29 06:00:00, 2023-01-29 12:00:00)         3
258   38.0  (2023-01-29 06:00:00, 2023-01-29 12:00:00)         2
259   39.0  (2023-01-29 12:00:00, 2023-01-29 18:00:00)         5
260   40.0  (2023-01-29 12:00:00, 2023-01-29 18:00:00)         1
261   40.0  (2023-01-29 18:00:00, 2023-01-30 00:00:00)         3
262   41.0  (2023-01-29 18:00:00, 2023-01-30 00:00:00)         3
263   40.0  (2023-01-30 00:00:00, 2023-01-30 06:00:00)         2
264   41.0  (2023-01-30 00:00:00, 2023-01-30 06:00:00)         2
265   42.0  (2023-01-30 00:00:00, 2023-01-30 06:00:00)         1
266   43.0  (2023-01-30 00:00:00, 2023-01-30 06:00:00)         1
267   43.0  (2023-01-30 06:00:00, 2023-01-30 12:00:00)         2
268   44.0  (2023-01-30 06:00:00, 2023-01-30 12:00:00)         3
269   43.0  (2023-01-30 12:00:00, 2023-01-30 18:00:00)         2
270   44.0  (2023-01-30 12:00:00, 2023-01-30 18:00:00)         2
271   45.0  (2023-01-30 12:00:00, 2023-01-30 18:00:00)         2
272   46.0  (2023-01-30 18:00:00, 2023-01-31 00:00:00)         2
273   47.0  (2023-01-30 18:00:00, 2023-01-31 00:00:00)         1
274   49.0  (2023-01-30 18:00:00, 2023-01-31 00:00:00)         1
275   50.0  (2023-01-30 18:00:00, 2023-01-31 00:00:00)         1
276   52.0  (2023-01-30 18:00:00, 2023-01-31 00:00:00)         1
277   54.0  (2023-01-31 00:00:00, 2023-01-31 06:00:00)         1
278   56.0  (2023-01-31 00:00:00, 2023-01-31 06:00:00)         1
279   59.0  (2023-01-31 00:00:00, 2023-01-31 06:00:00)         1
280   62.0  (2023-01-31 00:00:00, 2023-01-31 06:00:00)         1
281   63.0  (2023-01-31 00:00:00, 2023-01-31 06:00:00)         1
282   64.0  (2023-01-31 00:00:00, 2023-01-31 06:00:00)         1
283   65.0  (2023-01-31 06:00:00, 2023-01-31 12:00:00)         2
284   66.0  (2023-01-31 06:00:00, 2023-01-31 12:00:00)         2
285   67.0  (2023-01-31 06:00:00, 2023-01-31 12:00:00)         1
286   69.0  (2023-01-31 06:00:00, 2023-01-31 12:00:00)         1
287   71.0  (2023-01-31 12:00:00, 2023-01-31 18:00:00)         1
288   72.0  (2023-01-31 12:00:00, 2023-01-31 18:00:00)         1
289   74.0  (2023-01-31 12:00:00, 2023-01-31 18:00:00)         1
290   77.0  (2023-01-31 12:00:00, 2023-01-31 18:00:00)         1
291   79.0  (2023-01-31 12:00:00, 2023-01-31 18:00:00)         1
292   80.0  (2023-01-31 12:00:00, 2023-01-31 18:00:00)         1
293   82.0  (2023-01-31 18:00:00, 2023-02-01 00:00:00)         1
294   83.0  (2023-01-31 18:00:00, 2023-02-01 00:00:00)         1
295   85.0  (2023-01-31 18:00:00, 2023-02-01 00:00:00)         1
296   86.0  (2023-01-31 18:00:00, 2023-02-01 00:00:00)         1
297   87.0  (2023-01-31 18:00:00, 2023-02-01 00:00:00)         2
298   87.0  (2023-02-01 00:00:00, 2023-02-01 06:00:00)         1
299   88.0  (2023-02-01 00:00:00, 2023-02-01 06:00:00)         3
300   89.0  (2023-02-01 00:00:00, 2023-02-01 06:00:00)         1
301   90.0  (2023-02-01 00:00:00, 2023-02-01 06:00:00)         1
302   92.0  (2023-02-01 06:00:00, 2023-02-01 12:00:00)         1
303   93.0  (2023-02-01 06:00:00, 2023-02-01 12:00:00)         1
304   94.0  (2023-02-01 06:00:00, 2023-02-01 12:00:00)         1
305   96.0  (2023-02-01 06:00:00, 2023-02-01 12:00:00)         1